<h1>Edit list</h1>

<%= form_for :project, url: projects_path, method: :put do |f| %>
<% if @project && @project.errors.any? %>
  <ul>
    <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<p>
	<%= f.label :title %> <br/>
  	<%= f.text_field :name %>
  </p>
  
  <%= f.submit "Create" %>
<% end %>