<h1> Current project name: </h1>
<h3><%=  @project.name %> </h3>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Position</th>
      <th scope="col">Status</th>
      <th scope="col">Deadline</th>
     </tr>
  </thead>

<tbody>
 <% @project.tasks.each do |task| %>
   <tr>
      <td> <%= task.name %>
  
    <%= link_to 'Edit', edit_project_task_path(@project, task), class: "btn btn-primary btn-sm" %> |
    <%= link_to 'Delete', project_task_path(@project, task), class: "btn btn-danger btn-sm",
     method: :delete,
     data: { confirm: 'Are you sure?'} %></td>

      <td> <%= task.position %> 
      <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
      <%= link_to "UP", move_up_project_task_path(@project, task), class: "btn btn-secondary", method: :put %>
  <%= link_to "DOWN", move_down_project_task_path(@project, task), class: "btn btn-secondary", method: :put %>
  </div>

      <td><%= task.status ? 'Done' : 'In progress' %>
      <div class="custom-control custom-switch" >
  <%= link_to 'Complete', status_project_task_path(@project, task), class: "custom-control-label", method: :put %>
  </div></td>  

  <td>   
    <%= task.deadline %>

    <%= form_for ([@project, task]) do |f| %>
                                        
    <%= f.datetime_field :deadline  %>
    <%= f.button "Add deadline", class: "btn btn-success"  %>
    <% end %>
    
  </td>       

</tr>
   <% end %>
</tbody>
</table>
</div>

<%= form_for ([@project, @project.tasks.build]) do |f| %>

  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.button "Add task", class: "btn btn-success"  %>
  </p>
   
  <% end %>


  <%= link_to 'Back', projects_path, class: "btn btn-link" %>