<h2> Current project name: </h2>

<h1><%=  @project.name %> </h1>


<% @project.tasks.each do |task| %>
  <h4> 
    Task:&nbsp<%= task.name %>
   </h4>
   <p>
    <%= link_to 'Edit', edit_project_task_path(task) %> |
    <%= link_to 'Delete', project_task_path(task),
     method: :delete,
     data: { confirm: 'Are you sure?'} %>

   </p>
   <p>
    <h5>
    Status: <%= task.status %>
   </h5>
   </p>
   <hr/>
   <% end %>

<%= form_for([@project, @project.tasks.build]) do |f| %>
  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>

  <p>
    <%= f.button "Add task" %>

  </p>
  <% end %>
  <%= link_to 'Back', projects_path %>